.Navigation {
  padding: 20px;
  padding-left: 50px;
  border-bottom: 2px solid #000;
}

.NavLink {
  text-decoration: none;
  color: rgb(9, 91, 172);
  padding-right: 30px;
  font-size: 32px;
}

.NavLink:hover {
  color: rgb(248, 155, 68);
}

.ActiveNavLink {
  color: rgb(248, 155, 68);
}
